@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #101010;
  font-family: 'Open Sans', sans-serif;
}

 
